.exercise-title {
  font-family: "Tiro Tamil", serif;
  font-family: "Ultra", serif;
  display: flex;
  width: 500px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.exerpic {
  border: none;
  border-radius: 0;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.animate__bounce {
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 4s;
  animation-duration: 4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.masker {
  border: none;
  border-radius: 0;
}

.maskvid {
  top: 30%;
  right: -10px;
  position: absolute;
  width: 60%;
  height: 60%;
  clip-path: polygon(40% 0, 80% 0, 55% 100%, 14% 100%);
}

.exer-page {
  background-image: linear-gradient(
      30deg,
      #ffffff 12%,
      transparent 12.5%,
      transparent 87%,
      #ffffff 87.5%,
      #ffffff
    ),
    linear-gradient(
      150deg,
      #ffffff 12%,
      transparent 12.5%,
      transparent 87%,
      #ffffff 87.5%,
      #ffffff
    ),
    linear-gradient(
      30deg,
      #ffffff 12%,
      transparent 12.5%,
      transparent 87%,
      #ffffff 87.5%,
      #ffffff
    ),
    linear-gradient(
      150deg,
      #ffffff 12%,
      transparent 12.5%,
      transparent 87%,
      #ffffff 87.5%,
      #ffffff
    ),
    linear-gradient(
      60deg,
      rgba(255, 255, 255, 0.5) 25%,
      transparent 25.5%,
      transparent 75%,
      rgba(255, 255, 255, 0.5) 75%,
      rgba(255, 255, 255, 0.5)
    ),
    linear-gradient(
      60deg,
      rgba(255, 255, 255, 0.5) 25%,
      transparent 25.5%,
      transparent 75%,
      rgba(255, 255, 255, 0.5) 75%,
      rgba(255, 255, 255, 0.5)
    );
  background-size: 56px 98px;
  background-position: 0 0, 0 0, 28px 49px, 28px 49px, 0 0, 28px 49px;
  background-color: rgba(196, 242, 242, 0.76);
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
}
