.caro-gp {
  height: 50%;
  background-color: grey;
  margin-left: 23%;
  width: 20%;
  margin-top: 0%;
  height: 900px;
  overflow: auto;
}

.pg-card {
  margin-top: 10px;
  width: 95%;
  margin-left: 8px;
}

.pg-button {
  width: 100%;
  background-color: gold;
  font-family: "Times New Roman", Times, serif;
  height: 100%;
  border-radius: 10px;
}

.parkimg {
  padding: 3%;
  border-bottom: 2px rgb(57, 57, 57) solid;
}
