.weight-bg-video {
  position: absolute;
  z-index: -1;
  width: 100%;
  left: 50%;
  height: 120%;
  object-fit: cover;
  transform: translate(-50.1%, 0%);

  opacity: 100%;
}

.display-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
