.bmi-section {
  background-color: rgba(42, 42, 42, 0.9);
  width: 70%;
  border-radius: 5px;
  -webkit-box-shadow: 23.5px 14.5px 32px -22px #494949;
  -moz-box-shadow: 23.5px 14.5px 32px -22px #494949;
  box-shadow: 23.5px 14.5px 32px -22px #494949;
  font-family: "Times New Roman", Times, serif;
  margin-top: 5%;
}
.bmi-header {
  margin-top: 3%;
}

.bmi-name {
  color: gold;
  margin-left: 40%;
  font-size: 60px;
  padding-top: 1em;
}

.bmi-result {
  margin-left: 10%;
  color: gold;
  font-style: italic;
  font-size: 200px;
}

.bmiloader {
  margin-left: 45%;
  margin-top: 30%;
}
