.navbar {
  height: 5em;
  z-index: 300;
}
.nav-title {
  color: gold;
  font-weight: bolder;
  font-size: 30px;
  margin-right: 15em;
  margin-left: 5em;
  font-family: serif;
}
.nav-logo {
  border: none;
  border-radius: 0;
}

.nav-a {
  color: gold;
}
